html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import "~antd/dist/antd.css";

[data-theme="compact"] .ant-drawer-body p {
  margin-bottom: 0;
}

.ant-btn,
.ant-btn-primary {
  background-color: white;
  border: none;
  margin: 20px;
  padding: 0;
  width: 46px;
  height: 46px;
  color: white;
}
img.freeze {
  background-color: red;
  width: 20px;
  height: 20px;
  padding: 20px;
}
